#{extends 'main.html' /}
#{set title:messages.get('board.topic') /}

#{set 'moreStyles'}
    #{press.stylesheet src:'board.css' /}
    #{get 'moreStyles' /}
#{/set}

<div class="board">
    #{bootstrap.board.breadcrumb topic /}

    #{form action:@Board.createPost(topic.id), method:"POST"}

        #{bootstrap.form.textarea 'post.contenu', wysiwyg:true, toolbar:'bbcode' /}

        <p class="crudButtons">
            <a class="btn btn-default" href="@{Board.topic(topic.id)}">&{'annuler'}</a>
            <input class="btn btn-primary" type="submit" name="_save" value="&{'bootstrap.crud.save', 'post'}" />
        </p>
    #{/form}
</div>