#{extends 'main.html' /}
#{set title:messages.get('secure.signin') /}
#{set panelTitle:messages.get('secure.signin') /}

<div class="col-md-offset-4 col-md-4 col-xs-12">
    #{include 'include/alert.html' /}

    #{form @Secure.authenticate()}

        #{bootstrap.form.text 'login', label:messages.get('secure.login.credential'), value:flash.login, placeholder:messages.get('secure.login.credential.placeholder') /}

        #{bootstrap.form.password 'password', label:messages.get('secure.login.password'), placeholder:messages.get('secure.password.credential.placeholder') /}

        #{bootstrap.form.checkbox 'remember', label:'secure.login.remember', value:((flash.remember)? true : false) /}

        <button type="submit" class="btn btn-sm btn-primary btn-block">&{'secure.signin'}</button>

        #{include 'include/secureFooter.html' /}
    #{/form}
</div>