#{extends 'main.html' /}
#{set title:messages.get('secure.forgot.title') /}

<div class="col-md-offset-4 col-md-4 col-xs-12">
    #{form @forgot()}

        #{bootstrap.form.text 'email', label:'email', value:flash.email /}
        #{bootstrap.form.captcha 'captcha' /}

        <button type="submit" class="btn btn-sm btn-primary btn-block">&{'secure.forgot.send'}</button>

        #{include 'include/secureFooter.html' /}
    #{/form}
</div>