.top-nav a:hover {
  background-color: #0099da;
  color: #fff;
}
.top-nav a:hover i {
    color:white;
}

.icon-folder {
    display:block;
    font-size:140px;
    text-align:center;
}

/* --- MixitUp --- */
.ec-box .ec-box-content {
    display:block;
    height: 100px;
    overflow: hidden;
}
.ec-box .ec-box-content img {
    max-width:100%;
}
.ec-box-footer {
    margin-top:0;
    text-align:center;
}
.ec-box-header a {
    width: 170px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.footer-widget .media {
    float:left;
    margin-right:20px;
}

/* Media Queries */
@media (min-width: 768px) { /* Slidebar widths on medium screens. */
    #navbar-collapse-user {
        display:none !important;
    }
    #navbar-collapse-user-button {
        display:none;
    }
}