#{extends 'main.html' /}
#{set title:messages.get('secure.account.create.title') /}

<div class="col-md-offset-4 col-md-4 col-xs-12">
    #{form @SecurityAccount.create(), method:'POST'}
        #{bootstrap.form.text 'pseudo', label:'pseudo', value:flash.pseudo /}
        #{bootstrap.form.text 'email', label:'email', value:flash.email /}
        #{bootstrap.form.password 'password', label:'password', value:flash.password /}
        #{bootstrap.form.password 'passwordConfirm', value:flash.passwordConfirm /}
        #{bootstrap.form.captcha 'captcha' /}
        <button type="submit" class="btn btn-sm btn-primary btn-block">&{'secure.account.create.send'}</button>
    #{/form}

    #{include 'include/secureFooter.html' /}
</div>