#{extends 'main.html' /}

<div class="col-md-3 hidden-xs">
    <div class="ec-filters-menu">
        <h3 class="section-title no-margin-top">&{'mixitup.filters'}</h3>
        <h4>&{'mixitup.select.category'}</h4>
        <ul>
            <li><a href="javascript:void(0);" class="filter active" data-filter="all">&{'mixitup.category.all'}</a></li>
            <li><a href="javascript:void(0);" class="filter" data-filter=".category2">&{'mixitup.category.folder'}</a></li>
            <li><a href="javascript:void(0);" class="filter" data-filter=".image">&{'mixitup.category.image'}</a></li>
        </ul>
        <h4>&{'mixitup.order'}</h4>
        <ul>
            <li><a href="javascript:void(0);" class="sort" data-sort="type:asc title:asc">&{'mixitup.sort.asc'}</a></li>
            <li><a href="javascript:void(0);" class="sort" data-sort="type:asc title:desc">&{'mixitup.sort.desc'}</a></li>
        </ul>
    </div>
</div>

<div class="col-md-9">
    <div class="row">
        #{bootstrap.mixitup /}
    </div>
</div>

#{doLayout /}